:host {
  .wrapper {
    display: inline-flex;
    gap: 2rem;

    form {
      display: inline-block;
      width: 600px;
    }

    mat-form-field {
      width: 100%;
    }

    .messages {
      height: 274px;

      mat-card-content {
        overflow: auto;
        margin-bottom: 1rem;
      }
    }
  }
}
