<div class="center-center wrapper">
  <mat-card
    ><mat-card-header
      ><mat-card-title
        >Extra communication usage demo</mat-card-title
      ></mat-card-header
    ><mat-card-content
      ><div style="display: flex; flex-direction: column; gap: 0.5rem">
        <button
          type="button"
          mat-raised-button
          color="accent"
          (click)="onWorkerCallParamFn()"
        >
          Call paramFn</button
        ><button
          type="button"
          mat-raised-button
          color="accent"
          (click)="onWorkerCallWithCallback()"
        >
          Call withCallback</button
        ><button
          type="button"
          mat-raised-button
          color="accent"
          (click)="onWorkerCallParamComplexObject()"
        >
          Call paramComplexObject
        </button>
      </div></mat-card-content
    ></mat-card
  >
  <form [formGroup]="form" (ngSubmit)="onSubmitSetParamString()">
    <mat-card>
      <mat-card-header
        ><mat-card-title
          >Call worker class setter</mat-card-title
        ></mat-card-header
      >
      <mat-card-content>
        <mat-form-field>
          <mat-label>Message</mat-label>
          <input matInput type="text" formControlName="msg" />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions align="end">
        <button type="submit" mat-button>Send</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
